@import "../../common/colors.scss";

.movie-container {
}

.movie-header {
	background-color: $secondary-color;
	height: 40px;
	border-radius: 5px;
	border-top: 2px #09f solid;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 40px;
}

.movie-header h4 {
	font-size: 20px;
	align-items: center;
	text-justify: center;
	padding: 0 10px;
	color: #09f;
}

.movie-wrapper {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
	grid-gap: 15px;
	// overflow: hidden;
}
