* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Open Sans", sans-serif;
}

a {
	text-decoration: none;
}

body {
	background-color: #0f171e;
}
.container {
	color: #ffffff;
	margin: 0 40px;
	margin-top: 20px;

	@media screen and (max-width: 768px) {
		margin: 0 10px;
	}
}
.footer {
	background-color: #1a242f;
	color: #ffffff;
	padding: 0 40px;
	margin-top: 20px;
}
