* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Open Sans", sans-serif;
}

a {
	text-decoration: none;
}

body {
	background-color: #0f171e;
	max-width: 1440px;
}
.container {
	color: #ffffff;
}
.footer {
	background-color: #1a242f;
	color: #ffffff;
	padding: 0 40px;
	margin-top: 20px;
}
